

*{
    margin: 0px;
}

.main{
    background-color: aqua;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.top{
    background-color: blueviolet;
    height: 10vh;
    display: flex;
}
 
.topleft{
    background-color: rgb(153, 190, 224);
    display: flex;
    flex:0.4;
    align-items: center;
    padding-left: 100px;
    font-size: larger;
}

.topright{
    background-color: rgb(153, 190, 224);
    display: flex;
    flex: 0.6;
    justify-content: flex-end;
    padding-right: 100px;
    align-items: center;
}

.toplist{
    list-style-type: none;
    display: inline-flex;
}

.bottom{
    background-color: rgb(237, 243, 160);
    height: 90vh;
    display: flex;
}

.topbutton{
    padding: 10px;
    margin: 50px;
}

.bottomleft{
    padding-top: 10vh;
    padding-left: 10vh;
}
.bottombutton{
    padding: 15px;
    margin-top: 30px;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.listli{
    display: inline;
    padding-right: 40px;
}

.bottomright img{
    height: 40vh;
    width: 70vh;
    padding-top: 15vh;
    padding-left: 25vh;
}